.container {
	width: 80%;
	margin: auto;
}


div#mynetwork   {
	
    border-radius: 5px;
    border: 1px solid green;
    margin: auto;
    height: 500px;
    
}

div#mynetwork .frnd {

	height: 70px;
    width: 70px;
    border-radius: 35px;
    display: inline;
    margin: 5px;
   
}

img.frnd {
	height: 70px;
    width: 70px;
    border-radius: 35px;

 }

 div#control {
 	border-radius: 5px;
    border: 1px solid green;
 	margin-bottom: 10px;
}





