.container {
	width: 80%;
	margin: auto;
}


div#content   {
	
    border-radius: 5px;
    border: 1px solid green;
    margin: auto;
    
}

div#content .frnd {

	height: 70px;
    width: 70px;
    border-radius: 35px;
    display: inline;
    margin: 5px;
   
}

img.frnd {
	height: 70px;
    width: 70px;
    border-radius: 35px;

 }

 div#control {
 	border-radius: 5px;
    border: 1px solid green;
 	margin-bottom: 10px;
}

div#div1, #div2 {
	height: 70px;
    width: 70px;
    border-radius: 35px;
    background: green;
}

#line {
	height: 2px;
	width: 70px;
	background: red;
}

#mynetwork {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
}

div#testDiv {
	height: 70px;
    width: 70px;
    border-radius: 35px;
    background: green;
}