 div#greeting {
    height: 50px;
    width: 50px;
    border: 1px solid blue;
    border-radius: 5px;
}


div#content   {
	height: 500px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid green;
}

div#content .frnd  {
	height: 70px;
    width: 70px;
    border-radius: 35px;
    display: inline;
   
}

img.frnd {
	height: 70px;
    width: 70px;
    border-radius: 35px;
 
 }